<form action= "/places/<%=:id%>/update">
	<h1>Update Form:<br></h1>
  	Title:
   	 <input type ="string" name="updatetitle" value= "<%= @title %>" >
   	 <br> Photo Url: 
    	<input type ="string" name="updatephoto" value= "<%= @photo %>" >
    <br>
    <br> Admission Price: 
    	<input type ="integer" name="updateprice" value= "<%= @admission%>" >
    <br>
    <br> Description: 
    	<input type ="text" name="updatedescription" value=  "<%= @description%>" >
    <br><br>
  	<button>Submit</button>

</form>