<style>
  h2 {
    color: white;
    background: #555;
    padding: 6px;
    text-align: center;
  }
  .rating {
    color: gray;
    border: solid 1px gray;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    width: 200px;
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

<h2><%= @title %></h2>

<p>
  <%= image_tag @photo %> 
  Admission Price:  $<%= @admission%>
      Description: <%= @description%>
     <form action= "/places/<%= @id%>/edit">
      <button>Edit</button>
     </form>
   </p>
